.schedule-time .bg-soft {
  background-color: #d5e5fa !important;
  padding: 8px 10px;
  color: #2c7be5;
  font-size: 12px;
}
.btn-outline-secondary {
  color: #222;
}
.horizontal-timeline.slots:before {
  background: #dedede;
  content: "\e927" !important;
  color: #fff;
  width: 45px;
  height: 45px;
  text-align: center;
  left: 58% !important;
  font-family: "Feather" !important;
  font-size: 20px;
  padding-top: 7px;
  margin-top: 8px;
  top: 87px;
}
.horizontal-timeline:before {
  width: 45px;
  height: 45px;
  content: "\e9f1";
  display: block;
  position: absolute;
  left: 2%;
  border-radius: 50%;
  z-index: 1039;
  color: #fff;
  text-align: center;
  font-family: "Feather" !important;
  font-size: 22px;
  padding-top: 8px;
  margin-top: 0px;
}
h1,
.h1,
h3 {
  font-size: 1.525rem;
}
.schedule-time h3 {
  font-size: 1.2rem;
}
.schedule-time .btn-outline-secondary:hover {
  color: #000;
  background-color: #f3f3f3;
  border-color: #f3f3f3;
}
/* .schedule-calendar .fc .fc-highlight {
    background: #dee9f8;
    border-radius: 6px;
  }
  .schedule-calendar {
    border-right: 1px solid #e3ebf6;
  } */
.schedule-bg-white .btn-primary {
  color: #fff;
  background-color: #4076ea;
  border-color: #4076ea;
  height: 55px;
  line-height: 40px;
}
.schedule-bg-white .btn-primary:hover {
  color: #fff;
  background-color: #376ad6;
  border-color: #376ad6;
}
#user-picker .timezone {
  background: #dee9f8;
  padding: 12px 25px;
  border-radius: 12px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
#user-picker .custom-select {
  height: calc(1.5em + 0.75rem + 10px);
  width: 100%;
}
@media screen and (max-width: 1440px) {
  .schedule-bg-white .btn-primary {
    color: #fff;
    background-color: #4076ea;
    border-color: #4076ea;
    height: 55px;
    line-height: 40px;
  }
}
.userpicker-emptystate {
  left: 17%;
  right: 17%;
}
.text-muted {
  color: #95aac9 !important;
}
body {
  background-repeat: no-repeat !important;
  background-repeat: no-repeat !important;
  background-position: right bottom !important;
  background-position: right;
  background-attachment: fixed !important;
  background-size: 100% auto !important;
  margin: 0;
  font-family: "Cerebri Sans", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #12263f;
  text-align: left;
  background-color: #f9fbfd;
}
@keyframes morph {
  0% {
    background-color: rgb(0, 123, 255);
  }
  50% {
    background-color: rgb(226, 237, 250);
  }
  100% {
    background-color: rgb(117, 167, 230);
  }
}
.schedule-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  background: none;
}
.schedule-select + span.fe {
  float: right;
  margin-top: -27px;
  margin-right: 4px;
  pointer-events: none;
  background-color: transparent;
  padding-right: 5px;
}
.min-width-360px {
  min-width: 360px !important;
}
.z-index-9999 {
  z-index: 9999;
}
.schedule-popover-text p {
  margin-bottom: 0px !important;
}
.max-height-310 {
  max-height: 310px !important;
  overflow: auto;
}
.schedule-calendar .b-calendar-header .form-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding-top: 7px;
  height: 40px;
  font-weight: bold;
  border-bottom: 0 !important;
}
.schedule-calendar .b-calendar .b-calendar-grid {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-top: 0 !important;
}
.schedule-calendar .b-calendar-nav {
  border-left: 1px solid #d2ddec;
  border-right: 1px solid #d2ddec;
  padding: 6px;
}
.schedule-calendar .b-calendar-grid-caption {
  margin-bottom: 10px;
}
.schedule-calendar .b-calendar-grid-help {
  display: none !important;
}
.schedule-calendar .b-calendar-grid-body .col.p-0.bg-light[aria-disabled="true"] {
  background: #ffffff !important;
  cursor: default !important;
}
.schedule-calendar .btn.disabled,
.schedule-calendar .btn:disabled {
  opacity: 0.45;
}
.schedule-calendar .b-calendar-grid-weekdays {
  border-bottom: 0 !important;
}
.schedule-calendar .b-calendar-grid-body span.btn.border-0.rounded-circle.text-nowrap.active.btn-primary.font-weight-bold {
  box-shadow: none !important;
}
.schedule-calendar .b-calendar-grid.form-control:focus {
  border-color: #d2ddec !important;
}
.schedule-calendar .b-calendar-nav button.btn.flex-fill.btn-outline-secondary[title="Current month"]:after {
  content: "\e937";
}
.schedule-calendar .b-calendar-nav button.btn.flex-fill.btn-outline-secondary .bi-circle-fill {
  display: none;
}
.schedule-calendar .b-calendar-nav button.btn.flex-fill.btn-outline-secondary[title="Current month"] {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Feather !important;
  font-style: normal;
  font-variant: normal;
  line-height: inherit;
  text-transform: none;
}

.schedule-calendar .b-calendar-nav button.btn.flex-fill.btn-outline-secondary:not(:disabled):hover {
  background: #dee1e6;
  color: #000;
}
.schedule-calendar .b-calendar-nav button.btn.flex-fill.btn-outline-secondary:disabled {
  background-color: transparent !important;
}
@media screen and (min-width: 767px) {
  .schedule-calendar .b-calendar {
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  .schedule-calendar .b-calendar-header .form-control {
    position: absolute;
    right: 42px;
    display: inline;
    width: auto;
    border: 0;
    font-size: 14px;
  }
  .schedule-calendar .b-calendar-nav {
    width: 24%;
    position: absolute;
    left: 32%;
    border: 0;
  }
  .schedule-calendar .b-calendar-grid-caption {
    position: absolute;
    left: 44px;
  }
  .schedule-calendar .b-calendar-grid-weekdays {
    margin-top: 53px;
  }
  .schedule-calendar .b-calendar .b-calendar-grid {
    margin-top: 15px;
    margin-bottom: 10px;
    padding-left: 0;
    border: 0;
  }
  .schedule-calendar .b-calendar-nav button.btn.flex-fill.btn-outline-secondary {
    box-shadow: none;
  }

  .schedule-calendar .btn-outline-secondary.disabled,
  .schedule-calendar .btn-outline-secondary:disabled {
    color: #6e84a3;
    background-color: transparent !important;
  }
  .schedule-calendar .b-calendar-grid-body .btn.border-0.rounded-circle.text-nowrap.btn-outline-light,
  .schedule-calendar .b-calendar-grid-body .btn.border-0.rounded-circle.text-nowrap.btn-outline-primary.font-weight-bold:hover,
  .schedule-calendar .b-calendar-grid-body .btn.border-0.rounded-circle.text-nowrap.active.btn-primary.font-weight-bold {
    width: 41.5px !important;
    height: 41.5px !important;
    line-height: 26px !important;
    margin: 2px !important;
  }
}
@media screen and (max-width: 460px) {
  .schedule-calendar .b-calendar-grid-body .btn.border-0.rounded-circle.text-nowrap.btn-outline-light,
  .schedule-calendar .b-calendar-grid-body .btn.border-0.rounded-circle.text-nowrap.btn-outline-primary.font-weight-bold:hover,
  .schedule-calendar .b-calendar-grid-body .btn.border-0.rounded-circle.text-nowrap.active.btn-primary.font-weight-bold,
  .schedule-calendar .b-calendar-grid-body span.btn.border-0.rounded-circle.text-nowrap.btn-outline-primary.font-weight-bold {
    width: 30px !important;
    height: 30px !important;
    line-height: 22px !important;
    padding: 5px;
  }
  .timeline-header {
    font-size: 12px !important;
  }
  .timeline-header {
    left: 3% !important;
  }
  .event-line.events-horizontal-line span.timeline-header {
    left: 30% !important;
  }
  .horizontal-timeline:before {
    left: 1% !important;
  }
  .horizontal-timeline.event-line:before {
    left: 28% !important;
  }
  .event-line .timeline-header[data-v-7e5d17d2] {
    left: 30% !important;
  }
  .horizontal-timeline.slots:before {
    left: 54% !important;
  }
  .slots .timeline-header {
    left: 56.5% !important;
  }
  .horizontal-timeline:after {
    left: 7% !important;
  }
}
@media only screen and (min-width: 424px) and (max-width: 767px) {
  .schedule-calendar .b-calendar-grid-body .btn.border-0.rounded-circle.text-nowrap.btn-outline-light,
  .schedule-calendar .b-calendar-grid-body .btn.border-0.rounded-circle.text-nowrap.btn-outline-primary.font-weight-bold:hover,
  .schedule-calendar .b-calendar-grid-body .btn.border-0.rounded-circle.text-nowrap.active.btn-primary.font-weight-bold,
  .schedule-calendar .b-calendar-grid-body span.btn.border-0.rounded-circle.text-nowrap.btn-outline-primary.font-weight-bold {
    width: 35px !important;
    height: 35px !important;
    line-height: 25px !important;
    padding: 5px !important;
  }
}
.mt-8rem {
  margin-top: 8rem !important;
}
.schedule-time button.btn.btn-white.btn-block {
  padding: 7px 5px !important;
}
